@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:root{
    --orange:#ff9f1a;
}

*{
    font-family: 'Open Sans', sans-serif;
    margin:0; padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    text-transform: capitalize;
    outline: none;
    text-decoration: none;
}

*::selection{
    background:var(--orange);
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

.btn{
    cursor: pointer;
    border:.2rem solid var(--orange);
    color:var(--orange);
    background:none;
    padding:.5rem 3rem;
    margin-top: 1rem;
    position: relative;
    z-index: 0;
    font-size: 2rem;
}


.btn:hover::before{
    clip-path: circle(100%);
}

.btn:hover{
    color:#fff;
}

.heading{
    display: inline-block;
    color:#333;
    margin:2rem 0;
    padding:1rem 0;
    padding-top: 8rem;
    font-size: 3rem;
    border-bottom: .2rem solid var(--orange);
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left: 0;
    z-index: 1000;
    padding:2rem 3rem;
}

header .logo{
    font-size: 3rem;
    color:#fff;
}

header .logo span{
    color:var(--orange);
}

header .navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navbar ul li{
    margin:0 1rem;
}

header .navbar ul li a{
    color:#fff;
    font-size: 2rem;
}

header .navbar ul li a.active,
header .navbar ul li a:hover{
    color:var(--orange);
}

header #menu{
    font-size: 3rem;
    color:var(--orange);
    cursor: pointer;
    display: none;
}

header.header-active{
    background:#fff;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
}

header.header-active .logo,
header.header-active .navbar a{
    color:#333;
}

.home{
    min-height: 100vh;
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url(img/slider3.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
}

.home h1{
    font-size: 6rem;
    color:#fff;
    text-align: center;
    text-shadow: 0 .3rem .5rem #000;
    padding:0 1rem;
    text-transform: uppercase;
}

.home .btn{
    box-shadow: 0 .3rem .5rem #000;
    color:#fff;
}

.about .row{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 8rem;
}

.about .row .image{
    flex: 1 1 40rem;
    padding:2rem;
}

.about .row .image img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.about .row .content{
    flex: 1 1 40rem;
    padding:2rem;
}

.about .row .content h3{
    color:#333;
    font-size: 4rem;
}

.about .row .content p{
    color:#666;
    font-size: 1.7rem;
    padding:1rem 0;
}

.classes{
    min-height: 100vh;
    text-align: center;
}

.classes .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.classes .box-container .box{
    height:23rem;
    width:35rem;
    margin:1rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.classes .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.classes .box-container .box .info{
    height:90%;
    width:90%;
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%) scale(0);
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.classes .box-container .box:hover .info{
    transform: translate(-50%, -50%) scale(1);
}

.classes .box-container .box .info h3{
    font-size: 2.5rem;
    color:#333;
}

.classes .box-container .box .info p{
    font-size: 1.2rem;
    color:#666;
    padding:1rem 2rem;
}


.classes .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.classes .box-container .box .info{
    height:90%;
    width:90%;
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%) scale(0);
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}












.trainer{
    min-height: 100vh;
    text-align: center;
}

.trainer .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.trainer .box-container .box{
    height:37rem;
    width:27rem;
    margin:1rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.trainer .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.trainer .box-container .box .info{
    height:90%;
    width:90%;
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%) scale(0);
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.trainer .box-container .box:hover .info{
    transform: translate(-50%, -50%) scale(1);
}

.trainer .box-container .box .info h3{
    font-size: 2.5rem;
    color:#333;
}

.trainer .box-container .box .info p{
    font-size: 1.2rem;
    color:#666;
    padding:1rem 2rem;
}


.trainer .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.trainer .box-container .box .info{
    height:90%;
    width:90%;
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%) scale(0);
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}






.advantage{
    min-height: 100vh;
    text-align: center;
    background:#eee;
}

.advantage .box-container{
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.advantage .box-container .box{
    background:#fff;
    margin:2rem;
    width:40rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
    height: 250px;
}

.advantage .box-container .box:hover{
    transform: scale(1.04);
}

.advantage .box-container .box .title{
    font-size: 2.5rem;
    background:var(--orange);
    color:#fff;
    padding:1rem 0;
}






.advantage .box-container .box p{
    margin:2rem 8rem;
    list-style: none;
}




.advantage .box-container .box p{
    
    font-size: 11px;
    color:#333;
}










.register{
    min-height: 90vh;
    text-align: center;
    background:#000;
    padding-bottom: 3rem;
}

.register .heading{
    color:#fff;
}

.register form{
    width:75%;
    margin:0 auto;
}

.register form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.register form .inputBox input, textarea{
    height:4rem;
    width:49%;
    background:#111;
    color:#fff;
    padding:0 1rem;
    margin:1rem 0;
    font-size: 2rem;
    border:none;
}

.register form .inputBox input:focus, textarea:focus{
    background:#222;
}

.register form textarea{
    height:20rem;
    resize: none;
    padding:1rem;
    width:100%;
}

.register form .btn:hover{
    background:var(--orange);
}

.span {
    padding-top: 100px;
    padding-left: 150px;
    font-size: 21px;
    padding-bottom: 100px;
}


.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background: white;
}
.text-light {
    color: #f8f9fa;
}
.py-5 {
    padding-bottom: 3rem;
}
.py-5 {
    padding-top: 3rem;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
}

.row {
  
    display: flex;
   
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.text-center {
    text-align: center;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.fs {
    font-size: 40px;
}

*::after, ::before {
    box-sizing: border-box;
}

.fonts{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

}
.text-danger {
    color: var(--orange);
}

 .px-3 {
    padding-left: 3rem;
}
.px-3 {
    padding-right: 3rem;
}

.px-3:hover::before{
text-decoration: underline;
transform: translate(-50%, -50%) scale(1);
}


span{
    color: #000;
}









/* media queries  */

@media (max-width:768px){

    html{
        font-size: 55%;
    }

    header #menu{
        display: block;
    }

    header .navbar{
        position: fixed;
        top:-100rem; left: 0;
        width: 100%;
        opacity: 0;
        background:#fff;
        border-top: .1rem solid rgba(0,0,0,.3);
    }

    header .navbar ul{
        flex-flow: column;
        padding:2rem 0;
    }

    header .navbar ul li{
        margin:1rem 0;
        text-align: center;
        width: 100%;
    }

    header .navbar ul li a{
        font-size: 2.5rem;
        color: #333;
        display: block;
    }

    header .navbar.nav-toggle{
        top:8rem;
        opacity: 1;
    }

    .register form{
        width:90%;
    }

}


@media (max-width:500px){

    html{
        font-size: 50%;
    }

    .home h1{
        font-size: 5rem;
    }

    .register form .inputBox input{
        width:100%;
    }

}